@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf');
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

body,
body * {
  font-family: 'Lato';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ghostButton {
  background-color: transparent;
  padding: 0.5em 2em;
  color: #000;
  border: 2px solid #fff;
  transition: 0.5s ease-in-out;

  &:hover {
    transition: 0.5s ease-in-out;
    background-color: #000;
    color: white;
  }

  &:focus {
    transition: 0.5s ease-in-out;
    background-color: #000;
    color: white;
  }
}

$mobile: 480px;
$tablets: 768px;
