.about {
  h1, h2 {
    font-family: 'Poppins';
    letter-spacing: -2pt;
    font-weight: 600;
  }

  h1 {
    font-size: 40pt;
  }

  h2 {
    font-size: 25pt;
  }

  .text {
    font-size: 16pt;
  }
}

.textPane {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5rem;
}

.imagePane {
  flex-basis: 50%;
  height: 40rem;
  width: 100%;
}

.intro {
  display: flex;

  .imagePane {
    background: url('../../../public/images/cutting-hair.jpg') no-repeat center;
    background-size: cover;
  }
}

.sectionRow {
  display: flex;
}

.sectionHeading {
  padding: 2rem 0;
}

.clientSection {
  background-color: black;
  color: white;
  text-align: center;

  .sectionRow {
    &.row1 {
      flex-direction: row-reverse;

      .imagePane {
        background: url('../../../public/images/drive.jpg') no-repeat center;
        background-size: cover;
      }
    }

    &.row2 {
      .imagePane {
        background: url('../../../public/images/notifications.jpg') no-repeat center;
        background-size: cover;
      }
    }
  }
}

.barberSection {
  text-align: center;

  .sectionRow {
    &.row1 {
      flex-direction: row-reverse;

      .imagePane {
        background: url('../../../public/images/scheduling.jpg') no-repeat center;
        background-size: cover;
      }
    }

    &.row2 {
      .imagePane {
        background: url('../../../public/images/rate.jpg') no-repeat center;
        background-size: cover;
      }
    }

    &.row3 {
      flex-direction: row-reverse;

      .imagePane {
        background: url('../../../public/images/instagram.jpg') no-repeat center;
        background-size: cover;
      }
    }
  }
}
