.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 2px -2px;
  height: 4rem;
  color: #000;
  z-index: 1000;
  vertical-align: middle;
  line-height: 4rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 300;
    font-size: 16pt;
  }

  .navList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;

    .navItem {
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 1.5rem;

      &:hover {
        color: red;
      }
    }
  }
}