.signupPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .question,
  .divider {
    font-size: 50pt;
    font-weight: bold;
    font-family: 'Poppins';
  }

  .divider {
    text-decoration: underline;
  }

  .barberBlock {
    margin: 10px 0;
  }

  .userButton,
  .submitButton,
  .goBackButton {
    border: 2px solid #000;
    color: black;
    font-size: 20pt;

    &:hover {
      background-color: black;
      color: #fff;
    }
  }

  .submitButton .goBackButton {
    font-size: 12pt;
    margin-top: 2rem;
  }

  .signupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
