.signupPage {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .signupBg {
    background: url('../../../public/images/signup-page-bg.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex: 2;
  }

  .question,
  .divider {
    font-size: 50pt;
    font-weight: bold;
    font-family: 'Poppins';
  }

  .divider {
    text-decoration: underline;
  }

  .barberBlock {
    margin: 10px 0;
  }

  .userButton,
  .submitButton,
  .goBackButton {
    border: 2px solid #000;
    font-size: 20pt;
    color: #000;
    background-color: transparent;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #000;
    }
  }

  .submitButton,
  .goBackButton {
    font-size: 12pt;
    margin-top: 2rem;
  }

  .signupContainer {
    h1 {
      font-size: 40pt;
      font-weight: bold;
      font-family: 'Poppins';
      margin-bottom: 2rem;
    }
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
